/* This is the style sheet is for rembesha'ng my web pages */
body {
    width: 600px;
background-color: aliceblue
color: black; /* This is the font color */
font: sans-serif;
border: 5px;
padding: 2px;
margin: 2px;

border-style: solid;
border-color: grey;

}

#head {
background-color:gray;
    font-family: sans-serif;
color:yellow;
    text-align:left;
}
#hh{ color: white;
    text-align:right;
}
#neck{
  background-color:whitesmoke;
    font-family: serif;
color: darkslategrey;  
    
}
#neck2{
  background-color:whitesmoke;
    font-family: serif;
color: darkslategrey;  
}
#chest{
  background-color:whitesmoke;
    font-family: serif;
color: darkslategrey;  
}